@import '../../styles/default.less';
@import '../../styles//theme/base.less';

.button {
  box-sizing: border-box;
  margin: 10px;
  padding: @spacing-none @spacing-6 @spacing-1 @spacing-6;
  color: @color-white;
  font-weight: @font-weight-400;
  font-size: @font-size-body-3;
  white-space: nowrap;
  border: none;
  outline: none;
  transition: all @transition-duration-1 @transition-timing-function-linear;
  .button-text {
    padding: @spacing-none @spacing-4 @spacing-none @spacing-4;
    text-align: center;
  }
  &:hover {
    cursor: pointer;
    opacity: @opacity-8;
  }
}

/**
* type
*/
.button-primary {
  background-color: @color-primary-6;
  border-radius: @border-radius-default;
}

.button-secondary {
  color: @color-gray-10;
  background-color: @color-gray-3;
}

.button-dashed {
  color: @color-gray-10;
  background-color: @color-gray-2;
  border: @border-1 @border-dashed @color-gray-4;
}

.button-outline {
  color: @color-primary-6;
  background-color: @color-white;
  border: @border-1 @border-solid @color-primary-6;
}

/**
* size
*/
.button-small {
  height: @size-small;
  padding: @spacing-none @spacing-3 @spacing-1 @spacing-3;
  font-size: @font-size-body-1;
  border: @border-none;
}

.button-medium {
  height: @size-default;
}

.button-large {
  height: @size-large;
  padding: @spacing-2 @spacing-8 @spacing-2 @spacing-8;
}

/**
* shape
*/
.button-small-circle {
  width: 26px;
  height: 26px;
  padding: 0;
  padding: 0;
  border-radius: @border-radius-circle;
  .button-text {
    padding: 0;
    font-size: 8px;
  }
}

.button-medium-circle {
  width: 32px;
  height: 32px;
  padding: 0;
  border-radius: @border-radius-circle;
  .button-text {
    padding: 0;
  }
}

.button-large-circle {
  width: @size-11;
  height: @size-11;
  padding: 0;
  border-radius: @border-radius-circle;
  .button-text {
    padding: 0;
  }
}

.button-small-round {
  border-radius: 12px;
}

.button-medium-round {
  border-radius: 16px;
}

.button-large-round {
  border-radius: 24px;
}

/**
* status
*/
.button-primary-success {
  color: @color-white;
  background-color: @color-success-6;
}

.button-primary-danger {
  color: @color-white;
  background-color: @color-danger-6;
}

.button-primary-warning {
  color: @color-white;
  background-color: @color-warning-6;
}

// ---------------------------------

.button-secondary-success {
  color: @color-success-6;
}

.button-secondary-danger {
  color: @color-danger-6;
}

.button-secondary-warning {
  color: @color-warning-6;
}

// ---------------------------------

.button-dashed-success {
  color: @color-success-6;
  border: @border-1 @border-dashed @color-success-6;
}

.button-dashed-danger {
  color: @color-danger-6;
  border: @border-1 @border-dashed @color-danger-6;
}

.button-dashed-warning {
  color: @color-warning-6;
  border: @border-1 @border-dashed @color-warning-6;
}

// ---------------------------------

.button-outline-success {
  color: @color-success-6;
  border: @border-1 @border-solid @color-success-6;
}

.button-outline-danger {
  color: @color-danger-6;
  border: @border-1 @border-solid @color-danger-6;
}

.button-outline-warning {
  color: @color-warning-6;
  border: @border-1 @border-solid @color-warning-6;
}

/**
* disabled
*/
.button-disabled {
  color: @color-gray-5;
  background-color: @color-gray-4;
  &:hover,
  &:focus {
    cursor: not-allowed;
    opacity: 1;
  }
}
