.modal-container {
  width: 100vw;
  position: fixed;
  z-index: 5000;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
}

.modal-item {
  margin: .375rem;
  opacity: 1;
  animation: modalItemShow var(--duration--) ease forwards;
}

.modal-item-hidden {
  animation: modalItemHidden var(--duration--) ease forwards;
}

@keyframes modalItemShow {
  to { transform: translateY(0); }
}

@keyframes modalItemHidden {
  to { transform: translateY(-2.5rem); opacity: 0;}
}